@charset "UTF-8";

body {
  margin: 0;
  padding: 0;
  color: #f4c;
  background-color: #feeeed;
}

a {
  color: #ff7af0;
}

a:visited {
  color: #700064;
}

img {
  vertical-align: bottom;
}

header {
  width: 100%;
}

header h1,
header h2 {
  margin-top: 0;
  line-height: 1.6;
}

#global_navi {
  width: 100%;
  clear: both;
  overflow: hidden;
  margin: 16px auto;
}

#global_navi ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#global_navi li {
  width: 100%;
  text-align: center;
}

#global_navi ul li a {
  display: block;
  padding: 16px;
  background-color: #f4c;
  color: #feeeed;
  text-decoration: none;
}

#gallery ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#gallery ul li {
  width: 100%;
  padding: 10px 0;
  border: solid 1px #f4c;
  text-align: center;
  color: #f4c;
  font-weight: bold;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #feeeed;
  text-align: center;
  padding: 16px 0;
}

#footer_nav {
  background-color: #feeeed;
  padding: 10px;
}

#footer_nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

#footer_nav li {
  border-left: solid 1px #f4c;
  padding-left: 8px;
  font-size: smaller;
}

footer small {
  display: block;
  padding: 8px 0;
  color: #f4c;
}

/* スマートフォン向けメディアクエリ */
@media (min-width: 600px) {
  #global_navi ul {
    flex-direction: row;
    flex-wrap: wrap;
  }

  #global_navi li {
    width: calc(50% - 8px);
  }

  #gallery ul {
    flex-direction: row;
    flex-wrap: wrap;
  }

  #gallery ul li {
    width: calc(50% - 10px);
  }
}
