@charset "UTF-8";
body {
    background-color: #000000; /* Set background color to black */
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

img {
    width: 980px; /* Set image width to full screen */
}

/* Other styles */
header {
    text-align: center;
    margin-bottom: 50px;
    display: flex;
    align-items: center; /* Center vertically */
    padding: 10px 20px;
    background-color: #0b6d9b;
    color: white;
}

.header h1, .header a {
    color: white; /* Set text color to white */
    text-decoration: none;
    transition: opacity 0.3s ease-in-out; /* Smooth transition */
}

.header a:hover {
    opacity: 0.6; /* Reduce opacity on hover */
}

footer {
    background-color: black; /* Set footer background color to white */
    text-align: center;
    color: black; /* Set footer text color to black */
}

footer #footer_nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline; /* Display links inline */
    border-left: solid 1px #aaa;
    margin-left: 10px;
    font-size: smaller;
}

footer a {
    color: black; /* Set footer link color to black */
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline; /* Underline links on hover */
}
#side_banner img{
    width: 300px;
}